Final Project by Alicia Bergeron and Nick Arangio

In [1]:
import sklearn as sk
import re
import pandas as pd
import nltk
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
import pyro

ModuleNotFoundError: No module named 'pyro'

### Dataset Information
Sentiments: sadness, anger, love, surprise, fear, joy

In [15]:
dataset = 'Emotions dataset for NLP/train.txt'

In [16]:
df = pd.read_csv(dataset, sep=';', header=None)
df.columns = ["Text", "Sentiment"]

In [17]:
display(df.head())
display(df.Sentiment.unique())
display(df.describe())

                                                Text Sentiment
0                            i didnt feel humiliated   sadness
1  i can go from feeling so hopeless to so damned...   sadness
2   im grabbing a minute to post i feel greedy wrong     anger
3  i am ever feeling nostalgic about the fireplac...      love
4                               i am feeling grouchy     anger

array(['sadness', 'anger', 'love', 'surprise', 'fear', 'joy'],
      dtype=object)

                                                     Text Sentiment
count                                               16000     16000
unique                                              15969         6
top     i feel on the verge of tears from weariness i ...       joy
freq                                                    2      5362

In [18]:
ts = df.Text[0]
ts

'i didnt feel humiliated'

In [ ]:
def filter(text):
    return " ".join([word for word in str(text).split() if word not in stop])
df.Text = df.Text.apply(lambda t: filter(t))

In [19]:
tokens = nltk.word_tokenize(ts)
tokens

['i', 'didnt', 'feel', 'humiliated']

NLTK Tags: https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk

In [20]:
tags = nltk.pos_tag(tokens)
tags

[('i', 'NN'), ('didnt', 'VBP'), ('feel', 'NN'), ('humiliated', 'VBD')]